body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#blogID {
    margin-top: 20px;
    font-size: 1.2em;
}
h1{
    color:var(--main-color);
    font-size: var(--font-size-large);
    text-align: center;
}
